.cus-breadcrumb {
  position: sticky;
  top: 88px;
  z-index: 1;
}

.cus-breadcrumb .breadcrumb {
  border-radius: 0;
  background: #fff;
}

.cus-breadcrumb .breadcrumb > li + li:before {
  content: ">";
}

.cus-breadcrumb a {
  color: #000;
}
