.footer-sec {
  background-size: cover;
  width: 100%;
  border-radius: 0;
  background: #f8f9fa;
  margin-top: 50px;
}

/* .footer-sec table {
  color: #161616;
} */

.footer {
  color: #212529;
  line-height: 30px;
  font-size: 15px;
  height: auto;
}

.footer-sub-heading {
  color: #212529;
  font-size: 16px;
  font-weight: 600;
}

.footer a {
  color: #212529;
  text-decoration: none;
}

.footer a:hover {
  font-weight: 500;
}

.follow-us {
  font-size: 30px;
}

.follow-us:hover {
  color: #212529;
}

.footer-logo {
  width: 180px;
  display: block;
  margin-bottom: 25px;
}
